*.db
database
*.sql
# Игнорировать временные файлы, создаваемые IDE
.idea/

# Игнорировать файлы компиляции и собранные бинарные файлы
*.o
*.out
*.exe

# Игнорировать файлы настроек и временные файлы
*.swp
.DS_Store
*.log

# Игнорировать каталоги с зависимостями и модулями
node_modules/
vendor/

# Игнорировать локальные файлы конфигурации
config.local.json
